<app-navbar></app-navbar>

<div class="w-full my-16 p-10">
  <!-- Ajuste de la grilla para mejor responsividad -->
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-10 place-items-center h-500">
    <app-add-student-button></app-add-student-button>
    <app-add-teacher-button></app-add-teacher-button>
  </div>

  <div class="w-full flex flex-col sm:flex-row gap-4 mb-5">
    <div class="bg-sky-600 p-1 content-center rounded-md sm:w-2/4">
      <h5 class="font-bold text-zinc-50 mb-2">Tipo de persona registrada</h5>
      <div class="w-full p-2 bg-zinc-100 rounded-md shadow-2xl hover:shadow-gray-500 transition-shadow">
        <canvas id="pieChartType" class="responsive-chart"></canvas>
      </div>
    </div>

    <div class="bg-sky-600 p-1 content-center rounded-md sm:w-2/4 flex flex-col">
      <h5 class="font-bold text-zinc-50 mb-2">Total de empresas registradas por tamaño</h5>
      <div class="w-full p-6 bg-zinc-100 rounded-md shadow-2xl hover:shadow-gray-500 transition-shadow">
        <canvas id="pieChartSize" class="responsive-chart"></canvas>
      </div>
    </div>
  </div>

  <div class="w-full flex flex-col sm:flex-row gap-4">
    <div class="bg-sky-600 p-1 content-center rounded-md sm:w-2/4">
      <h5 class="font-bold text-zinc-50 mb-2">Total de empresas registradas por sector</h5>
      <div class="w-full p-2 bg-zinc-100 rounded-md shadow-2xl hover:shadow-gray-500 transition-shadow">
        <canvas id="radarChart" class="responsive-chart"></canvas>
      </div>
    </div>

    <div class="bg-sky-600 p-1 content-center rounded-md sm:w-2/4 flex flex-col">
      <h5 class="font-bold text-zinc-50 mb-2">Número total de usuarios registrados</h5>
      <div class="w-full p-2 bg-zinc-100 rounded-md shadow-2xl hover:shadow-gray-500 transition-shadow">
        <canvas id="barChartTotal" class="responsive-chart"></canvas>
      </div>
    </div>
  </div>
</div>
